@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: none;
    font-family: poppins, sans-serif;
}

header {
    width: 100%;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #000000;
    position: sticky;
    z-index: 2;
}

.container {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header img {
    cursor: pointer;
    height: 7vh;
}

#logo3 a {
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #bf1b2c;
    text-decoration: none;
}

.nav__links a {
    list-style: none;
    text-decoration: none;
    color: #2dbe78;
    font-weight: 500;
    font-size: 36px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: white;
}

.nav__links li:nth-child(3) {
    background-color: #2dbe78;
    border-radius: 58px;
}

.nav__links li:nth-child(3) a {
    color: black;
}

#searchImage {
    width: 95%;
    height: 95%;
}

.searchRoom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchDesc {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.searchDesc span {
    color: #2dbe78;
}

h1 {
    color: white;
    font-size: 96px;
    font-weight: 900;
}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.searchForm img {
    background-color: white;
    border-radius: 60px 0 0 60px;
    height: 80px;
    width: auto;
}

.searchForm input {
    width: 600px;
    height: 80px;
    margin: 0;
    /* border-radius: 60px 0 0 60px; */
    border: none;
}

.searchForm input::placeholder {
    font-size: 24px;
}

.searchForm input[type="text"] {
    padding: 0 24px;
    font-size: 24px;
}

.searchForm button {
    width: 200px;
    height: 80px;
    margin: 0;
    border: none;
    background-color: #000000;
    color: #2dbe78;
    font-size: 36px;
    font-weight: 600;
    border-radius: 0 60px 60px 0;
}

.roomDesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roomCol {
    width: 100%;
    padding: 0 0 0 5%;
    margin-bottom: 5%;
}

.roomRow {
    display: flex;
    overflow: scroll;
}

.room {
    margin: 0 2%;
}

h2 {
    font-size: 48px;
    margin: 2% 0;
}

h3 {
    font-size: 36px;
    margin: 2% 0;
}

h4 {
    font-size: 32px;
    font-weight: 500;
    margin: 2% 0;
}

h5 {
    color: #7f7f7f;
    font-size: 24px;
    font-weight: 500;
    margin: 2% 0;
}


h5 a {
    color: #7f7f7f;
    font-size: 24px;
    font-weight: 500;
    margin: 2% 0;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 5%;
}

.contact p {
    color: #2dbe78;
    font-size: 40px;
    font-weight: 900;
}

.contact span {
    color: white;
}

.contact h5 {
    width: 70%;
}

table {
    color: white;
    width: 50%;
    text-align: left;
}

td {
    height: 70px;
}

th {
    height: 50px;
}
