* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: none;
    font-family: poppins, sans-serif;
}

header {
    width: 100%;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #000000;
    position: fixed;
}

/* body {
    margin-top: 5%;
} */

h1 {
    font-size: 46px;
    margin: 10px 0;
    font-weight: 900;
}

body {
    margin-top: 5%;
}

.nav__links a {
    list-style: none;
    text-decoration: none;
    color: #2dbe78;
    font-weight: 500;
    font-size: 36px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: white;
}

.nav__links li:nth-child(3) {
    background-color: #2dbe78;
    border-radius: 58px;
}

.nav__links li:nth-child(3) a {
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detailGedung {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5% 5% 5%;
}

.detailGedung table {
    background-color: #2dbe78;
    width: 80%;
    font-size: 40px;
    font-weight: 500;
    margin: auto;
}

.detailGedung table {
    padding: 50px;
    border-radius: 60px;
}

.detailGedung tr {
    vertical-align: top;
}

.detailGedung td {
    padding: 2%;
    align-items: flex-start;
}

.detailGedung td:nth-child(1) {
    width: 40%;
    text-align: left;
}

.detailGedung td:nth-child(3) {
    /* width: ; */
    text-align: left;
    padding-left: 5%;
}

.detailGedungDesc {
    width: 80%;
}

.detailGedungDesc input {
    width: 300px;
    height: 80px;
    font-size: 30px;
    border-radius: 36px;
    padding: 2%;
    border: none;
}

h5 {
    color: #7f7f7f;
    font-size: 24px;
    font-weight: 500;
    margin: 2% 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 5%;
    width: 100%;
}

.contact p {
    color: #81d8ae;
    font-size: 40px;
    font-weight: 900;
}

.contact span {
    color: white;
}

.contact h5 {
    width: 70%;
}

footer table {
    color: white;
    width: 50%;
}

footer td {
    height: 70px;
    text-align: left;
}

footer th {
    height: 50px;
    text-align: left;
}
