@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: none;
    font-family: poppins, sans-serif;
}


header {
    width: 100%;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #000000;
    position: fixed;
}

body {
    margin-top: 10%;
}

.nav__links a {
    list-style: none;
    text-decoration: none;
    color: #2DBE78;
    font-weight: 500;
    font-size: 36px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: white;
}

.nav__links li:nth-child(3) {
    background-color: #2DBE78;
    border-radius: 58px;
}

.nav__links li:nth-child(3) a {
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.picRow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.picRow img {
    width: 700px;
    margin: 0 50px;
}

.availableDataIndicator img {
    width: 130px;
}

.availableDataIndicator {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-top: 20px;
}


.tanggal {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 46px;
    font-weight: 900;
    margin: 5% 0;
}

.detailGedung {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 5%;
}

.detailGedung table {
    background-color: #2DBE78;
    font-size: 40px;
    font-weight: 500;
}

.detailGedung table {
    padding: 50px;
    border-radius: 60px;
}

.detailGedung tr {
    vertical-align: top;
}

.detailGedung td {
    padding: 2%;
    align-items: flex-start;
}

.detailGedung td:nth-child(1) {
    width: 40%;
    text-align: left;
}

.detailGedung td:nth-child(3) {
    /* width: ; */
    text-align: left;
    padding-left: 5%;
}

.detailGedungDesc input {
    width: 300px;
    height: 80px;
    font-size: 30px;
    border-radius: 36px;
    padding: 2%;
    border: none;
}

.bookRow td:nth-child(3) {
    display: flex;
    justify-content: end;
}

.bookButton {
    display: flex;
}

.bookButton button {
    width: 250px;
    height: 80px;
    font-size: 40px;
    border: none;
}

#backButton {
    background-color: #FF0202;
    color: white;
    border-radius: 36px 0 0 36px;
}

#bookingButton {
    background-color: #000000;
    color: #2DBE78;
    border-radius: 0 36px 36px 0;
}

#bookingButton:hover{
    cursor: pointer;
}

h5 {
    color: #7F7F7F;
    font-size: 24px;
    font-weight: 500;
    margin: 2% 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 5%;
}

.contact p {
    color: #2DBE78;
    font-size: 40px;
    font-weight: 900;
}

.contact span {
    color: white;
}

.contact h5 {
    width: 70%;
}

footer table {
    color: white;
    width: 50%;

}


footer td {
    height: 70px;
    text-align: left;

}

footer th {
    height: 50px;
    text-align: left;


}